@model List<ÖDEV.Models.Person>
@{
    ViewData["Title"] = "PersonLıst";
}
<body>
    <style>
table, th, td {
  border: 1px solid black;
}
</style>
<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>BÖLÜM</th>
    </tr>

    @foreach(var Person in Model)

{
    <tr>

    <td>@Person.Id</td>
    <td>@Person.Ad</td> 
    <td>@Person.Soyad</td> 
    <td>@Person.Bolum</td>

    </tr>
}

</table>
</body>